# files
.env
.env.local
.env.development
.env.test
.env.production

# compiled output
/bin
/dist
/node_modules
downloads

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/.eslintcache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vercel
